20news-bydate/20news-bydate-train-clean/rec.motorcycles filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-test-clean/alt.atheism filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-test-clean/rec.autos filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-test-clean/rec.sport.hockey filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-test-clean/soc.religion.christian filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-train-clean/talk.religion.misc filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-test-clean/comp.sys.mac.hardware filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-test-clean/comp.os.ms-windows.misc filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-train-clean/comp.os.ms-windows.misc filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-train-clean/rec.sport.baseball filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-test-clean/comp.graphics filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-test-clean/sci.med filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-test-clean/talk.politics.guns filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-train-clean/comp.graphics filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-train-clean/comp.sys.ibm.pc.hardware filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-test-clean/comp.sys.ibm.pc.hardware filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-test-clean/rec.motorcycles filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-train-clean/talk.politics.guns filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-test-clean/comp.windows.x filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-train-clean/alt.atheism filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-train-clean/comp.windows.x filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-train-clean/misc.forsale filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-train-clean/rec.sport.hockey filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-train-clean/sci.med filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-train-clean/sci.space filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-train-clean/soc.religion.christian filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-test-clean/sci.space filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-test-clean/sci.electronics filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-test-clean/talk.religion.misc filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-train-clean/comp.sys.mac.hardware filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-train-clean/sci.crypt filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-train-clean/sci.electronics filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-train-clean/talk.politics.misc filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-test-clean/rec.sport.baseball filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-test-clean/sci.crypt filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-test-clean/talk.politics.mideast filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-test-clean/talk.politics.misc filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-train-clean/rec.autos filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-train-clean/talk.politics.mideast filter=lfs diff=lfs merge=lfs -text
20news-bydate/20news-bydate-test-clean/misc.forsale filter=lfs diff=lfs merge=lfs -text
